In [30]:
import pandas as pd
import requests
import json
import os
from dotenv import load_dotenv

In [31]:
# Getting the population data for cities in the US for 2019

load_dotenv()

API_KEY = os.getenv('key')

BASE_URL = "https://api.census.gov/data/2019/acs/acs1/profile"

variables = "NAME,DP05_0001E"

geo_level = "metropolitan%20statistical%20area/micropolitan%20statistical%20area:*"

url = f"{BASE_URL}?get={variables}&for={geo_level}&key={API_KEY}"

response = requests.get(url)

data = json.loads(response.text)

columns = data[0]

df = pd.DataFrame(data[1:], columns=columns)

df["DP05_0001E"] = pd.to_numeric(df["DP05_0001E"])

df.rename(columns={"DP05_0001E": "Population"}, inplace=True)

df.sort_values(by="Population", ascending=False, inplace=True)

df.drop('metropolitan statistical area/micropolitan statistical area', axis=1, inplace=True)

df.head(50)

                                                  NAME  Population
271   New York-Newark-Jersey City, NY-NJ-PA Metro Area    19216182
475      Los Angeles-Long Beach-Anaheim, CA Metro Area    13214799
71       Chicago-Naperville-Elgin, IL-IN-WI Metro Area     9457867
114         Dallas-Fort Worth-Arlington, TX Metro Area     7573136
204    Houston-The Woodlands-Sugar Land, TX Metro Area     7066140
492  Washington-Arlington-Alexandria, DC-VA-MD-WV M...     6280697
238  Miami-Fort Lauderdale-Pompano Beach, FL Metro ...     6166488
300  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...     6102434
28     Atlanta-Sandy Springs-Alpharetta, GA Metro Area     6018744
301               Phoenix-Mesa-Chandler, AZ Metro Area     4948203
55           Boston-Cambridge-Newton, MA-NH Metro Area     4873019
358      San Francisco-Oakland-Berkeley, CA Metro Area     4731803
340    Riverside-San Bernardino-Ontario, CA Metro Area     4650631
112             Detroit-Warren-Dearborn, MI Metro Area     4319629
364             Seattle-Tacoma-Bellevue, WA Metro Area     3979845
243  Minneapolis-St. Paul-Bloomington, MN-WI Metro ...     3640043
356      San Diego-Chula Vista-Carlsbad, CA Metro Area     3338330
404     Tampa-St. Petersburg-Clearwater, FL Metro Area     3194831
110              Denver-Aurora-Lakewood, CO Metro Area     2967239
348                        St. Louis, MO-IL Metro Area     2801423
36            Baltimore-Columbia-Towson, MD Metro Area     2800053
82        Charlotte-Concord-Gastonia, NC-SC Metro Area     2636883
278           Orlando-Kissimmee-Sanford, FL Metro Area     2608147
355           San Antonio-New Braunfels, TX Metro Area     2550960
311     Portland-Vancouver-Hillsboro, OR-WA Metro Area     2493221
336         Sacramento-Roseville-Folsom, CA Metro Area     2363730
304                          Pittsburgh, PA Metro Area     2317600
459        Las Vegas-Henderson-Paradise, NV Metro Area     2266715
34         Austin-Round Rock-Georgetown, TX Metro Area     2227083
87                     Cincinnati, OH-KY-IN Metro Area     2219750
440                      Kansas City, MO-KS Metro Area     2155068
101                            Columbus, OH Metro Area     2122271
211        Indianapolis-Carmel-Anderson, IN Metro Area     2076531
92                     Cleveland-Elyria, OH Metro Area     2048449
361             San Juan-Bayam√≥n-Caguas, PR Metro Area     2031885
360      San Jose-Sunnyvale-Santa Clara, CA Metro Area     1990660
260  Nashville-Davidson--Murfreesboro--Franklin, TN...     1933860
428  Virginia Beach-Norfolk-Newport News, VA-NC Met...     1765031
317               Providence-Warwick, RI-MA Metro Area     1624578
242                  Milwaukee-Waukesha, WI Metro Area     1575179
217                        Jacksonville, FL Metro Area     1559514
288                       Oklahoma City, OK Metro Area     1408950
323                        Raleigh-Cary, NC Metro Area     1390785
231                       Memphis, TN-MS-AR Metro Area     1344910
338                            Richmond, VA Metro Area     1290866
269                New Orleans-Metairie, LA Metro Area     1270530
476      Louisville/Jefferson County, KY-IN Metro Area     1266389
353                      Salt Lake City, UT Metro Area     1232696
190   Hartford-East Hartford-Middletown, CT Metro Area     1204877
64                  Buffalo-Cheektowaga, NY Metro Area     1127983

In [32]:
# Real Personal Income for Cities in 2019
# https://www.bea.gov/sites/default/files/2020-12/rpp1220_0.pdf

income = pd.read_excel('rpp1220_0.xlsx')

income.sort_values(by=2019, ascending=False, inplace=True)

income.head(50)

,Metro Area,2018,2019,Percent Change
249,"New York-Newark-Jersey City, NY-NJ-PA",1475920,1534294,4.0
210,"Los Angeles-Long Beach-Anaheim, CA",846487,881215,4.1
68,"Chicago-Naperville-Elgin, IL-IN-WI",584625,600617,2.7
311,"San Francisco-Oakland-Berkeley, CA",473747,496467,4.8
365,"Washington-Arlington-Alexandria, DC-VA-MD-WV",451968,467176,3.4
86,"Dallas-Fort Worth-Arlington, TX",423962,444730,4.9
159,"Houston-The Woodlands-Sugar Land, TX",398716,416122,4.4
269,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",391224,406400,3.9
42,"Boston-Cambridge-Newton, MA-NH",383529,397139,3.5
225,"Miami-Fort Lauderdale-Pompano Beach, FL",363414,375944,3.4
17,"Atlanta-Sandy Springs-Alpharetta, GA",316221,328450,3.9
320,"Seattle-Tacoma-Bellevue, WA",294410,310718,5.5
270,"Phoenix-Mesa-Chandler, AZ",225677,237837,5.4
97,"Detroit-Warren-Dearborn, MI",227219,234001,3.0
230,"Minneapolis-St. Paul-Bloomington, MN-WI",227122,233890,3.0
312,"San Jose-Sunnyvale-Santa Clara, CA",216457,227095,4.9
310,"San Diego-Chula Vista-Carlsbad, CA",203856,212749,4.4
95,"Denver-Aurora-Lakewood, CO",189649,199504,5.2
291,"Riverside-San Bernardino-Ontario, CA",186262,196453,5.5
23,"Baltimore-Columbia-Towson, MD",173684,179169,3.2
303,"St. Louis, MO-IL",154996,159567,2.9
342,"Tampa-St. Petersburg-Clearwater, FL",149314,156253,4.6
276,"Portland-Vancouver-Hillsboro, OR-WA",143215,149347,4.3
64,"Charlotte-Concord-Gastonia, NC-SC",135599,142170,4.8
272,"Pittsburgh, PA",135191,139582,3.2
298,"Sacramento-Roseville-Folsom, CA",132324,139089,5.1
21,"Austin-Round Rock-Georgetown, TX",129146,138028,6.9
70,"Cincinnati, OH-KY-IN",119566,124462,4.1
309,"San Antonio-New Braunfels, TX",118959,124192,4.4
180,"Kansas City, MO-KS",114692,118708,3.5
260,"Orlando-Kissimmee-Sanford, FL",112564,117774,4.6
245,"Nashville-Davidson--Murfreesboro--Franklin, TN",111958,117374,4.8
163,"Indianapolis-Carmel-Anderson, IN",112424,116921,4.0
46,"Bridgeport-Stamford-Norwalk, CT",110853,114518,3.3
73,"Cleveland-Elyria, OH",110433,113589,2.9
81,"Columbus, OH",107554,111370,3.5
197,"Las Vegas-Henderson-Paradise, NV",106317,110628,4.1
229,"Milwaukee-Waukesha, WI",89771,92080,2.6
360,"Virginia Beach-Norfolk-Newport News, VA-NC",88812,92002,3.6
280,"Providence-Warwick, RI-MA",87982,91200,3.7
285,"Raleigh-Cary, NC",76531,80458,5.1
169,"Jacksonville, FL",77125,80192,4.0
151,"Hartford-East Hartford-Middletown, CT",76525,78476,2.5
290,"Richmond, VA",73179,75742,3.5
248,"New Orleans-Metairie, LA",67270,69069,2.7
257,"Oklahoma City, OK",66346,68841,3.8
307,"Salt Lake City, UT",63554,67120,5.6
211,"Louisville/Jefferson County, KY-IN",63653,65955,3.6
223,"Memphis, TN-MS-AR",62664,64590,3.1
354,"Urban Honolulu, HI",58129,59618,2.6

In [33]:
# Filtering the dataframe to include the cities cited in the case and larger cities (pop and income) in the middle of the US and not located on the coasts
filtered_pop = df[df['NAME'].str.contains('Minneapolis|Dallas|Denver|Chicago|Houston|Detroit|St. Louis|Cincinnati|Kansas City|Columbus|Oklahoma City|Memphis|Pittsburgh|Indianapolis', regex=True) 
]

filtered_income = income[income['Metro Area'].str.contains('Minneapolis|Dallas|Denver|Chicago|Houston|Detroit|St. Louis|Cincinnati|Kansas City|Columbus|Oklahoma City|Memphis|Pittsburgh|Indianapolis', regex=True) 
]

filtered_pop.loc[:, 'NAME']  = filtered_pop['NAME'].str.replace(' Metro Area', '')

filtered_pop.rename(columns={"NAME": "Metro Area"}, inplace=True)

print(filtered_pop)
print(filtered_income)

                                  Metro Area  Population
71        Chicago-Naperville-Elgin, IL-IN-WI     9457867
114          Dallas-Fort Worth-Arlington, TX     7573136
204     Houston-The Woodlands-Sugar Land, TX     7066140
112              Detroit-Warren-Dearborn, MI     4319629
243  Minneapolis-St. Paul-Bloomington, MN-WI     3640043
110               Denver-Aurora-Lakewood, CO     2967239
348                         St. Louis, MO-IL     2801423
304                           Pittsburgh, PA     2317600
87                      Cincinnati, OH-KY-IN     2219750
440                       Kansas City, MO-KS     2155068
101                             Columbus, OH     2122271
211         Indianapolis-Carmel-Anderson, IN     2076531
288                        Oklahoma City, OK     1408950
231                        Memphis, TN-MS-AR     1344910
98                           Columbus, GA-AL      322103
100                             Columbus, IN       83779
                                  Metro Area    2018    2019  Percent Change
68        Chicago-Naperville-Elgin, IL-IN-WI  584625  600617             2.7
86           Dallas-Fort Worth-Arlington, TX  423962  444730             4.9
159     Houston-The Woodlands-Sugar Land, TX  398716  416122             4.4
97               Detroit-Warren-Dearborn, MI  227219  234001             3.0
230  Minneapolis-St. Paul-Bloomington, MN-WI  227122  233890             3.0
95                Denver-Aurora-Lakewood, CO  189649  199504             5.2
303                         St. Louis, MO-IL  154996  159567             2.9
272                           Pittsburgh, PA  135191  139582             3.2
70                      Cincinnati, OH-KY-IN  119566  124462             4.1
180                       Kansas City, MO-KS  114692  118708             3.5
163         Indianapolis-Carmel-Anderson, IN  112424  116921             4.0
81                              Columbus, OH  107554  111370             3.5
257                        Oklahoma City, OK   66346   68841             3.8
223                        Memphis, TN-MS-AR   62664   64590             3.1
79                           Columbus, GA-AL   13040   13543             3.9
80                              Columbus, IN    4238    4402             3.9

C:\Users\annes\AppData\Local\Temp\ipykernel_29352\3701467641.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_pop.loc[:, 'NAME']  = filtered_pop['NAME'].str.replace(' Metro Area', '')
C:\Users\annes\AppData\Local\Temp\ipykernel_29352\3701467641.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_pop.rename(columns={"NAME": "Metro Area"}, inplace=True)

In [34]:
# Join Population and Income Datasets
merged_df = pd.merge(filtered_pop, filtered_income, on='Metro Area')

# Real Personal Income in the millions for years 2018 and 2019
# Percent Change relates to Real Personal Income
merged_df.sort_values(by=2019, ascending=False, inplace=True)

merged_df

,Metro Area,Population,2018,2019,Percent Change
0,"Chicago-Naperville-Elgin, IL-IN-WI",9457867,584625,600617,2.7
1,"Dallas-Fort Worth-Arlington, TX",7573136,423962,444730,4.9
2,"Houston-The Woodlands-Sugar Land, TX",7066140,398716,416122,4.4
3,"Detroit-Warren-Dearborn, MI",4319629,227219,234001,3.0
4,"Minneapolis-St. Paul-Bloomington, MN-WI",3640043,227122,233890,3.0
5,"Denver-Aurora-Lakewood, CO",2967239,189649,199504,5.2
6,"St. Louis, MO-IL",2801423,154996,159567,2.9
7,"Pittsburgh, PA",2317600,135191,139582,3.2
8,"Cincinnati, OH-KY-IN",2219750,119566,124462,4.1
9,"Kansas City, MO-KS",2155068,114692,118708,3.5
11,"Indianapolis-Carmel-Anderson, IN",2076531,112424,116921,4.0
10,"Columbus, OH",2122271,107554,111370,3.5
12,"Oklahoma City, OK",1408950,66346,68841,3.8
13,"Memphis, TN-MS-AR",1344910,62664,64590,3.1
14,"Columbus, GA-AL",322103,13040,13543,3.9
15,"Columbus, IN",83779,4238,4402,3.9